<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="EmployeeScheduler._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <h1>Employee Scheduler</h1>
        <p>
            To make a good schedule for employees that are full time and part time can take up to 4 hours. The time it takes to make a schedule is confusing when 
            working with individual employee needs (time available), employee time off requests, and insuring the employee is working a minimum of 20 hours a week
            for part-time employees and 40 hours a week for full time employees.
        </p>

        <p>
            The employee scheduler is designed to assist you in your scheduling needs. The hardest part is the setup of the program which can only be done by a manager
            or a trusted administrator. Once set up, the employee scheduler remembers your settings and can be used over and over again. In this section will be store 
            or business hours, minimum time off requirements, lunch requirements, in the scheduler part who is scheduling which sections, and hours needed for each section.
        </p>
        <p>
             The scheduler will no longer have to go through all the forms manually. The employee scheduler employee file is set up by the manger or trusted administrator
            along with any notes necessary. The scheduler is able to go into the employee section and enter in days off request and add scheduler notes (not allowed to 
            change anything the manger or administrator has entered). The scheduler is also allowed to change which sections the employee is to be working (this is for 
            cross training reasons).
        </p>
        <p>
            The information added by the manager or administrator as well as information given by the scheduler is then used to create a detailed weekly calendar, broken 
            down by sections, so the scheduler is required to fill in all blanks with who is working only being able to select employees that are available for the time.
        </p>
        <p>
            After the scheduler is completed they are asked if they are ready for an audit. The system goes through and checks to see if all the section is filled out by 
            the scheduler is matching what the manager or administrator has indicated is needed. If the scheduler wants to black-out time over the managers requirements 
            given, this will be allowed but will require an explanation. The scheduler will then be allowed to go to the next section. After all sections are completed a 
            finalized audit is completed. The finalized audit includes hours of employees being worked in the week schedule and the floating hours (for example an employee 
            working days then nights in one week). The scheduler will be required to give an explanation for all abnormalities found.
        </p>
    </div>

</asp:Content>
